* {
    margin: 0;
    padding: 0;
}

.App {
  text-align: center;
}

.loader {
    border: 16px solid #3498db; /* Light grey */
    border-top: 16px solid orange; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    position: fixed;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
